.m1 .description {
  left: 15px;
  top: 10px;
}

.m1 .photo1 {
  left: 610px;
  top: 80px;
}

.m2 .description {
  left: 1200px;
  top: 15px;
}

.m2 .photo1 {
  left: 1620px;
  top: 10px;
}

.m2 .photo2 {
  left: 1370px;
  top: 130px;
}

.m3 .description {
  left: 2220px;
  top: 50px;
}

.m3 .photo1 {
  left: 2960px;
  top: 30px;
}

.m3 .photo2 {
  left: 2740px;
  top: 30px;
  width: 250px;
}

.m4 .description {
  left: 3630px;
  top: 0;
}

.m4 .photo1 {
  left: 3580px;
  top: 165px;
}

.m4 .photo2 {
  left: 4060px;
  top: 120px;
  z-index: 1499;
}

.m5 .description {
  left: 4480px;
  top: 350px;
}

.m5 .photo1 {
  left: 4550px;
  top: 20px;
}

.m5 .photo2 {
  left: 5000px;
  top: 180px;
}

.m6 .description {
  left: 5750px;
  top: 0px;
}

.m6 .photo1 {
  left: 5430px;
  top: 10px;
}

.m6 .photo2 {
  left: 5780px;
  top: 210px;
}

.m7 .description {
  left: 6400px;
  top: 110px;
}

.m7 .photo1 {
  left: 6870px;
  top: 30px;
}

.m8 .description {
  left: 7475px;
  top: 5px;
}

.m8 .photo1 {
  left: 7450px;
  top: 180px;
}

.m9 .description {
  left: 8155px;
  top: 10px;
}

.m9 .photo1 {
  left: 8210px;
  top: 275px;
}

.m9 .photo2 {
  left: 8675px;
  top: 0px;
}

.m10 .description {
  left: 9110px;
  top: 320px;
}

.m10 .photo1 {
  left: 9260px;
  top: 0px;
}

.m11 .description {
  left: 9910px;
}

.m11 .photo1 {
  left: 10500px;
}

.m11 .photo2 {
  left: 9810px;
  top: 200px;
}

.m11 .photo3 {
  left: 10110px;
  top: 200px;
}

.m12 .description {
  left: 11050px;
  top: 140px;
}

.m12 .photo1 {
  left: 11640px;
  top: 50px;
}

.end .description {
  left: 12000px;
}
