html, body {
  color: #333333;
  font-family: 微軟正黑體, Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

header {
  background: #404040;
  color: #F2F2F2;
  left: 0;
  padding: 20px 0;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header span {
  font-size: 2em;
  font-weight: bold;
}

header .scroll-link {
  color: #F2F2F2;
}

header .scroll-link:link, header .scroll-link:visited {
  text-decoration: none;
}

header .scroll-link:hover, header .scroll-link:active {
  text-decoration: underline;
}

.title {
  left: 0;
  /* background: #f1a263c9; */
  position: relative;
  width: 100%;
  z-index: 1000;
}

.title h1 {
  margin: 35px 50px;
}

.title small {
  font-size: 18px;
  font-style: italic;
}

.title .bg-music-link {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-color: transparent;
  border-radius: 0;
  color: #0088cc;
  cursor: pointer;
  font-size: 22px;
  padding: 0;
}

.bg-card {
  bottom: 0;
  left: 0;
  position: fixed;
}

.bg-card-1 {
  width: 3000px;
  z-index: 100;
}

.bg-card-2 {
  width: 4000px;
  z-index: 500;
}

.bg-arrows {
  display: block;
  left: 50%;
  position: fixed;
  top: 725px;
  width: 100%;
  z-index: 1000;
}

.bg-music-link, .bg-music-link:active, .bg-music-link[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

.horizontal-wrapper {
  /* background-color: #FFFFAA; */
  height: 1200px;
  overflow-x: scroll;
  overflow-y: scroll;
  position: relative;
  white-space: nowrap;
  z-index: 1500;
}

.horizontal-wrapper::-webkit-scrollbar {
  display: none;
}

.horizontal-wrapper .story {
  /* background-color: #4d9fd0e0; */
  display: inline-block;
  position: absolute;
}

.description {
  background: rgba(255, 255, 255, 0.95);
  border: 1px #eee solid;
  display: inline-block;
  padding: 10px 25px;
  position: absolute;
  vertical-align: top;
  white-space: normal;
  width: 500px;
  z-index: 2000;
}

.description h2 {
  border-bottom: 1px #ccc solid;
  padding-bottom: 9px;
}

.photo {
  background-color: rgba(255, 255, 255, 0.9);
  border: 3px rgba(255, 255, 255, 0.9) solid;
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 480px;
  z-index: 1500;
}

.photo img {
  max-width: 100%;
}

.vphoto {
  background-color: rgba(255, 255, 255, 0.9);
  border: 3px rgba(255, 255, 255, 0.9) solid;
  position: absolute;
  text-align: center;
  top: 0;
  width: 300px;
  z-index: 1500;
}

.vphoto img {
  max-width: 100%;
}
