.s1 .description {
  left: 120px;
  top: 0px;
}

.s1 .photo1 {
  left: 35px;
  top: 235px;
}

.s2 .description {
  left: 620px;
  top: 360px;
}

.s2 .photo1 {
  left: 765px;
  top: 0px;
}

.s2 .photo2 {
  left: 1450px;
  top: 130px;
}

.s3 .description {
  left: 1750px;
  top: 55px;
}

.s3 .photo1 {
  left: 1220px;
  top: 35px;
}

.s3 .photo2 {
  left: 2335px;
  top: 15px;
  width: 450px;
}

.s3 .photo3 {
  left: 2820px;
  top: 155px;
}

.s4 .description {
  left: 3330px;
  top: 15px;
}

.s4 .photo1 {
  left: 3380px;
  top: 175px;
}

.s5 .description {
  left: 4280px;
  top: 10px;
}

.s5 .photo1 {
  left: 3960px;
  top: 0px;
}

.s6 .description {
  left: 4315px;
  top: 190px;
}

.s6 .photo1 {
  left: 4915px;
  top: 80px;
}

.s7 .description {
  left: 5470px;
  top: 320px;
}

.s7 .photo1 {
  left: 5550px;
  top: 20px;
}

.s8 .description {
  left: 6830px;
  top: 10px;
}

.s8 .photo1 {
  left: 6100px;
  top: 60px;
}

.s8 .photo2 {
  left: 6630px;
  top: 170px;
  width: 400px;
}

.s8 .photo3 {
  left: 7440px;
  top: 40px;
}

.s9 .description {
  left: 8000px;
  top: 345px;
}

.s9 .photo1 {
  left: 8150px;
  top: 0px;
  width: 300px;
}

.s10 .description {
  left: 8885px;
  top: 270px;
}

.s10 .photo1 {
  left: 8630px;
  top: 80px;
  width: 270px;
  z-index: 1501;
}

.s10 .photo2 {
  left: 8850px;
  top: 0px;
  width: 400px;
}

.s10 .photo3 {
  left: 9510px;
  top: 70px;
}

.s11 .description {
  left: 10075px;
  top: 130px;
}

.s11 .photo1 {
  left: 10605px;
  top: 35px;
}

.s12 .description {
  left: 11910px;
  top: 25px;
}

.s12 .photo1 {
  left: 10985px;
  top: 110px;
  z-index: 1501;
}

.s12 .photo2 {
  left: 11400px;
  top: 5px;
}

.s12 .photo3 {
  left: 12500px;
  top: 60px;
  width: 280px;
  z-index: 1501;
}

.s12 .photo4 {
  left: 12770px;
  top: 0px;
  width: 380px;
}

.s13 .description {
  left: 14225px;
  top: 25px;
}

.s13 .photo1 {
  left: 13215px;
  top: 75px;
}

.s13 .photo2 {
  left: 13715px;
  top: 110px;
}

.s13 .photo3 {
  left: 14645px;
  top: 10px;
  width: 400px;
}

.end .description {
  left: 15550px;
  width: 560px;
}

.end .photo1 {
  left: 15150px;
}

.end .photo2 {
  left: 16115px;
  top: 25px;
}
